{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tickets list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td><a href="{{ path('tickets_show', { 'id': ticket.id }) }}">{{ ticket.id }}</a></td>
                <td>{{ ticket.title }}</td>
                <td>{% if ticket.created %}{{ ticket.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tickets_show', { 'id': ticket.id }) }}">show</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('tickets_edit', { 'id': ticket.id }) }}">edit</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tickets_new') }}">Create a new ticket</a>
        </li>
    </ul>
{% endblock %}
