{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ticket</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ticket.title }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if ticket.created %}{{ ticket.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        {% for message in messages %}
            <li>
                {{ message.body }} | par {{ message.user.username }}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('messages_edit', { 'id': message.id }) }}">Edit</a>
                    {{ form_start(delete_message[message.id]) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_message[message.id]) }}
                {% endif %}
            </li>   
        {% endfor %}
    </ul>

    <ul>
        <li>
            <a href="{{ path('messages_new', {'ticket_id' : ticket.id}) }}">Create new message</a>
        </li>
        <li>
            <a href="{{ path('tickets_index') }}">Back to the list</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('tickets_edit', { 'id': ticket.id }) }}">Edit</a>
            </li>

            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
